
@{
    ViewBag.Title = "Storage";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="col-lg-12">

    <h2 class="pad_1per ">Storage <button id="btnNewStore" title="Add New Store!" class="btn btn-default pull-right mar_top_1per bckcolor_green" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></h2>
</div>
<div class="col-lg-12 mgn_0">
    <div class="col-lg-4 noPadBrd">
        <div class="input-group col-lg-12 ">
            <input id="txtLocationSearch" type="text" class="form-control col-lg-12 stre_maxWth font_med ht40" placeholder="Search for  Store / Location / LocationID">
        </div>
        <div class="ovrflow">
        </div>
    </div>
</div>
