@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Volkhov:400,400italic,700,700italic);
@import url(//fonts.googleapis.com/css?family=Pacifico);
.search-form {
  display: inline-block;
  position: relative;
  width: 312px;
  padding: 5px 0;
}
* + .search-form {
  margin-left: 12%;
  margin-top: 13px;
}
@media (max-width: 1199px) {
  .search-form {
    width: 260px;
  }
  * + .search-form {
    margin-left: 3%;
  }
}
@media (max-width: 991px) {
  .search-form {
    margin-left: -40px;
  }
}
@media (max-width: 767px) {
  .search-form {
    width: 100%;
    margin-left: 0;
  }
}
.search-form form {
  position: relative;
}
.search-form_label {
  width: 100%;
  display: block;
  padding: 5px 35px 5px 10px;
  background: #ffffff;
  border: 1px solid #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.search-form_input {
  outline: none;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  border-radius: 0;
  vertical-align: baseline;
  box-shadow: none;
  color: #bcbcbc;
  font-weight: 300;
  display: block;
  width: 100%;
  font-size: 12px;
  line-height: 16px;
}
.search-form_submit {
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  outline: none;
  outline-offset: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  position: absolute;
  top: 5px;
  right: 3px;
  width: 25px;
  height: 22px;
  color: #bcbcbc;
  font: 400 13px/13px 'FontAwesome', sans-serif;
}
.search-form_submit::-moz-focus-inner {
  border: none;
  padding: 0;
}
.search-form_submit:before {
  content: '\f002';
}
.search-form_submit:hover {
  color: #7ac1e6;
}
.search-form_toggle {
  position: relative;
  float: right;
  color: #d8c860;
  font: 400 20px/26px 'FontAwesome';
  min-width: 13px;
  z-index: 999999999;
  margin-top: 26px;
}
.search-form_toggle:before {
  content: '\f002';
}
.search-form_toggle:focus {
  color: #d8c860;
}
.search-form_toggle:hover {
  color: #7ac1e6;
}
.search-form_toggle.active:before {
  content: '\f00d';
  color: #ffffff;
}
@media (max-width: 767px) {
  .search-form_toggle {
    position: fixed;
    right: 43px;
    top: 13px;
    margin-top: 0;
  }
}
.search-form_liveout {
  text-align: left;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  z-index: 1;
}
.lt-ie9 .search-form_liveout {
  filter: alpha(opacity=0);
}
.search-form_liveout .search_list {
  padding: 10px;
  list-style-type: none;
  font-size: 12px;
  line-height: 16px;
  background: #ffffff;
  font-weight: 500;
  -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
}
.search-form_liveout .search_list li + li {
  margin-top: 2px;
}
.search-form_liveout .search_list a {
  padding-left: 5px;
}
.search-form_liveout .search_list p {
  margin: 0;
}
.search-form_liveout .search_link {
  font-family: 'Arial', sans-serif;
  display: block;
  padding: 5px 10px;
  background: #ffffff;
  color: #63cd54;
}
.search-form_liveout .search_link .search_title {
  color: #404040;
  font: 700 13px/16px 'Arial', sans-serif;
  text-transform: uppercase;
}
.search-form_liveout .search_link:hover {
  background: #7ac1e6;
  color: #ffffff;
}
.search-form_liveout .search_link:hover .search_title {
  color: #ffffff;
}
.search-form_liveout .search_error {
  display: block;
  color: #7ac1e6;
  background: #fafafa;
  padding: 10px 10px;
  overflow: hidden;
  font-size: 12px;
}
.search-form_liveout .match {
  display: none;
}
.search-form_liveout button {
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  outline: none;
  outline-offset: 0;
  cursor: pointer;
  -webkit-appearance: none;
  display: block;
  width: 100%;
  color: #1f79a8;
  background: #fafafa;
  padding: 10px 10px;
}
.search-form_liveout button::-moz-focus-inner {
  border: none;
  padding: 0;
}
.search-form_liveout button:hover {
  background: #7ac1e6;
  color: #ffffff;
}
input:focus + .search-form_liveout {
  opacity: 1;
  filter: alpha(opacity=100);
}
.lt-ie9 input:focus + .search-form_liveout {
  filter: alpha(opacity=100);
}
.search-form_liveout .tablet,
.mobile .search-form_liveout {
  display: none !important;
}
.search-frame,
.search-frame body {
  width: 100%;
  height: auto;
  background: transparent;
}
.search-frame,
.search-frame body,
.search-frame h1,
.search-frame h2,
.search-frame h3,
.search-frame h4,
.search-frame h5,
.search-frame h6,
.search-frame p,
.search-frame em {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top;
}
.search-frame img {
  max-width: 100%;
  height: auto;
}
.search-frame a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.search-frame a:active {
  background: transparent;
}
.search-frame a:focus {
  outline: none;
}
.search-frame h4 {
  color: #404040;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: none;
}
@media (max-width: 979px) {
  .search-frame h4 {
    font-size: 16px;
    line-height: 16px;
  }
}
.search-frame h4 a:hover {
  color: #7ac1e6;
}
.search-frame .search_list {
  color: #979797;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: top;
  list-style-type: none;
  counter-reset: num1;
}
.search-frame .search_list p {
  font: 300 15px/22px 'Arial', sans-serif;
}
.search-frame .search_list .match {
  color: #7ac1e6;
  font-size: 12px;
  display: block;
}
.search-frame .search_list li {
  padding-top: 20px;
  padding-left: 50px;
  position: relative;
  padding-bottom: 20px;
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.search-frame .search_list li:hover {
  background: rgba(0, 255, 0, 0.1);
}
.search-frame .search_list li:before {
  content: counter(num1) '.';
  counter-increment: num1;
  position: absolute;
  left: 5px;
  top: 20px;
  width: 24px;
  height: 24px;
  font-size: 24px;
  line-height: inherit;
  color: #404040;
}
.search-frame .search_list li + li {
  border-top: 5px solid #7ac1e6;
}
.search-frame .search {
  color: #7ac1e6;
  font-weight: 700;
}
.search-frame .match {
  color: #404040;
  font-size: 12px;
  display: block;
}
.search-frame * + p {
  margin-top: 16px;
}
body.search_body {
  background: #1b1b1d;
}
.content {
  padding-top: 40px;
  padding-bottom: 40px;
}
.search_head {
  padding-bottom: 25px;
}
