@using POS.Entity.Entities;
@model List<tbl_Location>
@*View for Location/Store list. Created by Srikanth *@
@{
    ViewBag.Title = "Location";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jsLocation.js"></script>
<div class="col-lg-12">
    
    <h2 class="pad_1per ">Stores <button id="btnNewStore" title="Add New Store!" style="background-color: green;" class="btn btn-default pull-right mar_top_1per" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></h2>
</div>
<div class="col-lg-12 mgn_0">
    <div class="col-lg-4 noPadBrd">
        <div class="input-group col-lg-12 ">
            <input id="txtLocationSearch" type="text" class="form-control col-lg-12 stre_maxWth font_med ht40" placeholder="Search for  Store / Location / LocationID">
            
        </div>
        <div style="max-height:599px;overflow-y:auto">
            @if (Model != null)
            {
                foreach (tbl_Location location in Model)
                {
                    <div class="locData pad_1per">
                        <a class="pointer MasterStore" data-LocationID="@location.LocationID" data-City="@location.City"><h3 class="bg_blue">@location.LocationDesc</h3></a>
                    </div>
                }
                <small id="NoRecords" class="lead" style="display:none">
                    No records found.
                </small>
            }
            else
            {
                <small class="lead">
                    No records found.
                </small>
            }
        </div>
    </div>
    <div id="LocationDetails" class="col-lg-8 noPadBrd">
       @Html.Partial("~/Views/Location/Partial/_LocationDetailsPartial.cshtml",new tbl_Location())
    </div>

</div>
