@using POS.Util.Model
@using POS.Entity.Entities

@model TerminalModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="col-lg-12">

    <h2 class="pad_1per ">Terminal <button id="btnNewTerminal" title="Add New Store!" class="btn btn-default pull-right mar_top_1per bckcolor_green" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></h2>
</div>
<div class="col-lg-12 mgn_0">
    <div class="col-lg-3 noPadBrd">
        <div class="input-group col-lg-12 ">
            <input id="txtTLocationSearch" type="text" class="form-control col-lg-12 stre_maxWth  ht40" placeholder="Search for  Store / Location / LocationID">
        </div>
        <div class="ovrflow_Stng">
            @if (Model.GetAllLocation != null)
            {
                foreach (tbl_Location location in Model.GetAllLocation)
                {
                    <div class="TlocData pad_1per bg_blue">
                        <a class="pointer MasterTStore" data-SLocationID="@location.LocationID" data-SCity="@location.City"><span class="">@location.LocationDesc</span></a>
                    </div>
                }
                <small id="NoRecords" class="lead" style="display:none">
                    No records found.
                </small>
            }
            else
            {
                <small class="lead">
                    No records found.
                </small>
            }
        </div>
    </div>
    <div id="TerminalDetails" class="col-lg-8 noPadBrd">
      @Html.Partial("~/Views/Terminal/Partial/_TerminalDetailsPartial.cshtml", Model)
    </div>
</div>

