body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.mgn_0 {
    margin: 0;
}

.pad_1per {
    padding-left: 1%;
    color: #bcbcbc;
}

.mar_top_1per {
    margin-top: 1%;
}

.stre_maxWth {
    width: 100%;
    max-width: 410px !important;
}

.btn-danger:hover {
    background-color: #e20303;
    color: white;
}

.pad_0 {
    padding: 0;
}

.noPadBrd {
    border: 1px solid #c0c0c0;
    padding: 0;
}

.font_med {
    font-size: 24px;
}

.bg_blue {
    padding: 5px;
    color: black;
    padding: 5px 5px 5px;
    width: 100%;
}

    .bg_blue:hover {
        color: #ffffff;
        background-color: #7ac1e6;
    }

.ht40 {
    height: 40px;
}

.pointer {
    cursor: pointer;
}

.pad_1perdiv > div {
    padding: 0.5%;
}

.bold {
    font-weight: bold;
}

.ovrflow {
    max-height: 623px;
    overflow-y: auto;
}

.bckcolor_green {
    background-color: green;
}

.mrg_left_5per {
    margin-left: 5%;
}

.pad_2per {
    padding: 2%;
}

.btn_inpt_sumbit {
    background-color: #7ac1e6;
    color: white;
    float: none;
}

.btn_inpt_cancel {
    background-color: #e45b5b;
    color: white;
    float: none;
}

input {
    font-size: medium;
    color: black;
}

.err_mgs {
    color: red;
    font-size: 15px;
    font-weight: 500;
}

.stng_text {
    text-align: center;
    color: black;
    font-size: 14px;
    text-transform: uppercase;
}

    .stng_text:hover {
        background-color: #7ac1e6;
    }

.stng_Hdr {
    color: white;
    font-size: 20px;
    background-color: #7ac1e6;
    font-weight: bold;
}

.ovrflow_Stng {
    max-height: 837px;
    overflow-y: auto;
}

.hed_add {
    font-size: 25px;
}

.spn_lebl {
    font-size: 14px;
    color: #464646;
}

