body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.mgn_0 {
    margin: 0;
}

.pad_1per {
    padding-left: 1%;
}

.mar_top_1per {
    margin-top: 1%;
}

.stre_maxWth {
    width: 100%;
    max-width: 410px !important;
}

.pad_0 {
    padding: 0;
}

.noPadBrd {
    border: 1px solid #c0c0c0;
    padding: 0;
}

.font_med {
    font-size: medium;
}

.bg_blue:hover {
    color: #ffffff;
    background-color: #7ac1e6;
}
.ht40{
    height:40px;
}

.pointer{
 cursor: pointer;
}

.pad_1perdiv > div {
    padding: 0.5%;
}
.bold{
    font-weight: bold;
}